<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish28_die01.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,233},{388,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,153}}</string>
                <key>sourceSize</key>
                <string>{388,153}</string>
            </dict>
            <key>fish28_die02.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{428,229}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{428,229}}</string>
                <key>sourceSize</key>
                <string>{430,229}</string>
            </dict>
            <key>fish28_die03.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,388},{488,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,247}}</string>
                <key>sourceSize</key>
                <string>{488,247}</string>
            </dict>
            <key>fish28_die04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{510,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,269}}</string>
                <key>sourceSize</key>
                <string>{510,269}</string>
            </dict>
            <key>fish28_die05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{530,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,293}}</string>
                <key>sourceSize</key>
                <string>{530,293}</string>
            </dict>
            <key>fish28_die06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{546,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,303}}</string>
                <key>sourceSize</key>
                <string>{546,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4d0e8c87f0aa22b9dcd7f5172bf4334$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
