<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish28_move01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{370,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{370,150}}</string>
                <key>sourceSize</key>
                <string>{372,152}</string>
            </dict>
            <key>fish28_move02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,322},{372,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{372,150}}</string>
                <key>sourceSize</key>
                <string>{372,152}</string>
            </dict>
            <key>fish28_move03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{370,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,154}}</string>
                <key>sourceSize</key>
                <string>{372,154}</string>
            </dict>
            <key>fish28_move04.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{372,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{372,162}}</string>
                <key>sourceSize</key>
                <string>{372,166}</string>
            </dict>
            <key>fish28_move05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{372,162}}</string>
                <key>sourceSize</key>
                <string>{372,164}</string>
            </dict>
            <key>fish28_move06.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{372,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{372,158}}</string>
                <key>sourceSize</key>
                <string>{372,160}</string>
            </dict>
            <key>fish28_move07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,318},{372,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{372,150}}</string>
                <key>sourceSize</key>
                <string>{372,152}</string>
            </dict>
            <key>fish28_move08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{372,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,154}}</string>
                <key>sourceSize</key>
                <string>{372,156}</string>
            </dict>
            <key>fish28_move09.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,166},{372,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{372,150}}</string>
                <key>sourceSize</key>
                <string>{372,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5e2ff75feac5e490b93caf84dcff555$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
