<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl/eh.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,199},{17,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,31}}</string>
                <key>sourceSize</key>
                <string>{17,31}</string>
            </dict>
            <key>girl/eh_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,135},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>girl/hair01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,274}}</string>
                <key>sourceSize</key>
                <string>{220,274}</string>
            </dict>
            <key>girl/hair02.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{49,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,195}}</string>
                <key>sourceSize</key>
                <string>{49,195}</string>
            </dict>
            <key>girl/hand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,135},{79,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>sourceSize</key>
                <string>{79,102}</string>
            </dict>
            <key>girl/hand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,135},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>girl/hand_cy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,2},{111,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,131}}</string>
                <key>sourceSize</key>
                <string>{111,131}</string>
            </dict>
            <key>girl/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{159,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,220}}</string>
                <key>sourceSize</key>
                <string>{159,220}</string>
            </dict>
            <key>girl/head_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,170},{119,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,48}}</string>
                <key>sourceSize</key>
                <string>{119,48}</string>
            </dict>
            <key>girl/qunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{166,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,96}}</string>
                <key>sourceSize</key>
                <string>{166,96}</string>
            </dict>
            <key>girl/st.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{163,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,206}}</string>
                <key>sourceSize</key>
                <string>{163,206}</string>
            </dict>
            <key>girl/tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{131,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,388}}</string>
                <key>sourceSize</key>
                <string>{131,388}</string>
            </dict>
            <key>girl/xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,135},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl.png</string>
            <key>size</key>
            <string>{1256,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e570307c04825ea2a8a09c1f0698dfca$</string>
            <key>textureFileName</key>
            <string>girl.png</string>
        </dict>
    </dict>
</plist>
