# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Server/Develop/Server/DBServer/*.log
/Server/Develop/Server/DBServer/*.idc
/Server/Develop/Server/DBServer/Debug/*.log
/Server/Develop/Server/DBServer/Debug/DBServer.tlog/*.tlog
/Server/Develop/Server/DBServer/Debug/*.i
/Server/Develop/Server/DBServer/Debug/*.tli
/Server/Develop/Server/DBServer/Debug/*.tlh
/Server/Develop/Server/DBServer/Debug/*.idb
/Server/Develop/Server/DBServer/Debug/*.pdb
/Server/Develop/Server/Debug/*.ilk
/Server/Develop/Server/Debug/*.pdb
/Server/Develop/Server/Debug
/Server/Develop/Server/DBServer/Debug
/Server/Develop/Server/Server/Debug
/Client/Main/Studio/cocosstudio/res/*.csb
/Client/Main/Developing/simulator
/Client/Main/Developing/runtime
/Client/Main/Developing/frameworks/runtime-src/proj.win32/Debug.win32
/Client/Main/Developing/frameworks/cocos2d-x/cocos/platform/android/java/*.classpath
*.vcxproj
*.vcxitems
*.xib
*.user
*.tlog
*.strings
*.pbxproj
*.opendb
proj.android
proj.android-studio
proj.ios_mac
proj.linux
*.filters
*.props
*.classpath
/Client/Main/Developing/frameworks/cocos2d-x/cocos/platform/android
