<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
            <key>bomb_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
            <key>bomb_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
            <key>bomb_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
            <key>bomb_light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb_light_frame8.png</string>
            <key>size</key>
            <string>{522,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0593086c27d59f26288c62b8425d4379:1/1$</string>
            <key>textureFileName</key>
            <string>bomb_light_frame8.png</string>
        </dict>
    </dict>
</plist>
