<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>screen_fire/huo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,36},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,36},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,70},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,36},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,70},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,36},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,70},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,36},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>screen_fire/huo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>screen_fire.jpg</string>
            <key>size</key>
            <string>{1550,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5d204a4afd03e9d5c9b213a39f3b149$</string>
            <key>textureFileName</key>
            <string>screen_fire.jpg</string>
        </dict>
    </dict>
</plist>
