<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_avatar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,778},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_avatar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,778},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_avatar_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,666},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_avatar_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,666},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_avatar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,554},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_avatar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,554},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_avatar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,442},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_avatar_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,442},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_avatar_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,640},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_avatar_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,528},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_avatar_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,416},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_avatar_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,304},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_head_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,766},{128,130}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{128,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_head_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{128,130}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{128,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_head_frame_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,156},{140,146}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{140,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_head_frame_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{150,152}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_head_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{148,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{148,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_head_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{150,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{150,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_head_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{150,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{150,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_head_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{152,146}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{152,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_head_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,152},{144,144}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{144,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_head_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,298},{142,142}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{142,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_head_frame_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{152,148}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{152,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_head_frame_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{154,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>im_head.png</string>
            <key>size</key>
            <string>{486,899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29adc5d721929590cd0c026bb0f11b3f$</string>
            <key>textureFileName</key>
            <string>im_head.png</string>
        </dict>
    </dict>
</plist>
