<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1647},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1189},{1,1}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>bt_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1865},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>bt_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1683},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>bt_back02.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1792},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>bt_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1142},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>bt_commit.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1446},{99,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,54}}</string>
                <key>sourceSize</key>
                <string>{99,54}</string>
            </dict>
            <key>bt_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1006},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>bt_cx.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1923},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>bt_edit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1865},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>bt_edit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1807},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>bt_frame_01_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1014},{196,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,81}}</string>
                <key>sourceSize</key>
                <string>{196,81}</string>
            </dict>
            <key>bt_frame_01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1014},{196,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,81}}</string>
                <key>sourceSize</key>
                <string>{196,81}</string>
            </dict>
            <key>bt_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1014},{246,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,88}}</string>
                <key>sourceSize</key>
                <string>{246,88}</string>
            </dict>
            <key>bt_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,804},{246,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,88}}</string>
                <key>sourceSize</key>
                <string>{246,88}</string>
            </dict>
            <key>bt_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,714},{246,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,88}}</string>
                <key>sourceSize</key>
                <string>{246,88}</string>
            </dict>
            <key>bt_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{304,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,90}}</string>
                <key>sourceSize</key>
                <string>{304,90}</string>
            </dict>
            <key>bt_frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,398},{233,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,72}}</string>
                <key>sourceSize</key>
                <string>{233,72}</string>
            </dict>
            <key>bt_frame_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,444},{268,90}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,90}}</string>
                <key>sourceSize</key>
                <string>{304,90}</string>
            </dict>
            <key>bt_frame_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1667},{207,72}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,72}}</string>
                <key>sourceSize</key>
                <string>{233,72}</string>
            </dict>
            <key>bt_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1476},{119,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,71}}</string>
                <key>sourceSize</key>
                <string>{119,71}</string>
            </dict>
            <key>bt_rule_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1992},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>bt_rule_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1399},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>bt_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1547},{98,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,54}}</string>
                <key>sourceSize</key>
                <string>{98,54}</string>
            </dict>
            <key>bt_zx_ck.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1663},{99,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,55}}</string>
                <key>sourceSize</key>
                <string>{99,55}</string>
            </dict>
            <key>bt_zx_qk.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1764},{99,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,54}}</string>
                <key>sourceSize</key>
                <string>{99,54}</string>
            </dict>
            <key>chat_item_framebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{593,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,58}}</string>
                <key>sourceSize</key>
                <string>{593,58}</string>
            </dict>
            <key>duihuan_lx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1574},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>duihuan_lx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1466},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>icon_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1865},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>je_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1981},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>je_tuotiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{453,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,39}}</string>
                <key>sourceSize</key>
                <string>{453,39}</string>
            </dict>
            <key>je_tuotiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,444},{443,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{443,29}}</string>
                <key>sourceSize</key>
                <string>{453,39}</string>
            </dict>
            <key>label_charge.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1876},{165,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,55}}</string>
                <key>sourceSize</key>
                <string>{165,55}</string>
            </dict>
            <key>label_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{165,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,55}}</string>
                <key>sourceSize</key>
                <string>{165,55}</string>
            </dict>
            <key>phb_ic_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1683},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>sp_amount_ATM.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1572},{104,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,25}}</string>
                <key>sourceSize</key>
                <string>{104,25}</string>
            </dict>
            <key>sp_amount_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1466},{104,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,25}}</string>
                <key>sourceSize</key>
                <string>{104,25}</string>
            </dict>
            <key>sp_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1356},{309,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{309,21}}</string>
                <key>sourceSize</key>
                <string>{315,27}</string>
            </dict>
            <key>sp_bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{382,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{382,39}}</string>
                <key>sourceSize</key>
                <string>{392,49}</string>
            </dict>
            <key>sp_battery_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1615},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>sp_battery_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1824},{41,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,17}}</string>
                <key>sourceSize</key>
                <string>{41,17}</string>
            </dict>
            <key>sp_battery_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1923},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>sp_coffer.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1792},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>sp_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1960},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>sp_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1356},{268,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,42}}</string>
                <key>sourceSize</key>
                <string>{268,42}</string>
            </dict>
            <key>sp_coin_bg_min.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,410},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>sp_coin_min.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1094},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>sp_coin_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1626},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>sp_default_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,894},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>sp_default_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,308},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sp_dir.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1682},{72,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,107}}</string>
                <key>sourceSize</key>
                <string>{72,107}</string>
            </dict>
            <key>sp_dir2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1337},{72,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,107}}</string>
                <key>sourceSize</key>
                <string>{72,107}</string>
            </dict>
            <key>sp_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1283},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>sp_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1597},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sp_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1923},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>sp_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1284},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>sp_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1333},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>sp_frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1346},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>sp_frame_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,268}}</string>
                <key>sourceSize</key>
                <string>{440,268}</string>
            </dict>
            <key>sp_frame_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1212},{70,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,177}}</string>
                <key>sourceSize</key>
                <string>{70,177}</string>
            </dict>
            <key>sp_frame_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,894},{118,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,246}}</string>
                <key>sourceSize</key>
                <string>{118,246}</string>
            </dict>
            <key>sp_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1337},{124,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,127}}</string>
                <key>sourceSize</key>
                <string>{124,127}</string>
            </dict>
            <key>sp_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,838},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>sp_icon_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1981},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>sp_icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2011},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>sp_level_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1756},{86,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>sp_level_frame_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,804},{86,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>sp_light_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,444},{72,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,261}}</string>
                <key>sourceSize</key>
                <string>{72,261}</string>
            </dict>
            <key>sp_light_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1952},{27,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,27}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>sp_light_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1262},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>sp_light_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1900},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>sp_location_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1756},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>sp_pframe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1039},{315,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,27}}</string>
                <key>sourceSize</key>
                <string>{315,27}</string>
            </dict>
            <key>sp_pframe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,444},{392,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,49}}</string>
                <key>sourceSize</key>
                <string>{392,49}</string>
            </dict>
            <key>sp_rad.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1917},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>sp_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1189},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>sp_slider_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1749},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>sp_slider_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1855},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>sp_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1900},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>sp_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,444},{353,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,30}}</string>
                <key>sourceSize</key>
                <string>{353,30}</string>
            </dict>
            <key>sp_title_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1006},{199,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,51}}</string>
                <key>sourceSize</key>
                <string>{199,51}</string>
            </dict>
            <key>sp_title_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{406,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,62}}</string>
                <key>sourceSize</key>
                <string>{406,62}</string>
            </dict>
            <key>sp_title_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1284},{172,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,51}}</string>
                <key>sourceSize</key>
                <string>{172,51}</string>
            </dict>
            <key>sp_trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1234},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>sp_vip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1748},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>sp_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1917},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>sp_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1964},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>sp_vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1857},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>sp_vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1539},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>sp_vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1463},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>sp_vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1207},{74,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,41}}</string>
                <key>sourceSize</key>
                <string>{74,41}</string>
            </dict>
            <key>spinner_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,633},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{429,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:281a0e67328fa999dafe17bf0c720cbf$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
