<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plaza_vip/sp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1260},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>plaza_vip/sp_cannon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1397},{91,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,127}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>plaza_vip/sp_cannon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1012},{104,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,147}}</string>
                <key>sourceSize</key>
                <string>{104,147}</string>
            </dict>
            <key>plaza_vip/sp_cannon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1118},{129,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,144}}</string>
                <key>sourceSize</key>
                <string>{129,144}</string>
            </dict>
            <key>plaza_vip/sp_cannon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1118},{95,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,140}}</string>
                <key>sourceSize</key>
                <string>{95,140}</string>
            </dict>
            <key>plaza_vip/sp_cannon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1112},{171,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,140}}</string>
                <key>sourceSize</key>
                <string>{171,140}</string>
            </dict>
            <key>plaza_vip/sp_cannon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1277},{147,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,135}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>plaza_vip/sp_cannon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1254},{142,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,141}}</string>
                <key>sourceSize</key>
                <string>{142,141}</string>
            </dict>
            <key>plaza_vip/sp_cannon_label_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1461},{115,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,38}}</string>
                <key>sourceSize</key>
                <string>{115,38}</string>
            </dict>
            <key>plaza_vip/sp_cannon_label_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1378},{63,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>plaza_vip/sp_cannon_label_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1249},{115,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,38}}</string>
                <key>sourceSize</key>
                <string>{115,38}</string>
            </dict>
            <key>plaza_vip/sp_cannon_label_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1420},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>plaza_vip/sp_cannon_label_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1379},{114,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,39}}</string>
                <key>sourceSize</key>
                <string>{114,39}</string>
            </dict>
            <key>plaza_vip/sp_cannon_label_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1338},{115,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,39}}</string>
                <key>sourceSize</key>
                <string>{115,39}</string>
            </dict>
            <key>plaza_vip/sp_cannon_label_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1338},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>plaza_vip/sp_dir.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1418},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>plaza_vip/sp_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1461},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>plaza_vip/sp_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1490},{72,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,295}}</string>
                <key>sourceSize</key>
                <string>{72,295}</string>
            </dict>
            <key>plaza_vip/sp_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1426},{163,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,60}}</string>
                <key>sourceSize</key>
                <string>{163,60}</string>
            </dict>
            <key>plaza_vip/sp_label_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1289},{185,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,47}}</string>
                <key>sourceSize</key>
                <string>{185,47}</string>
            </dict>
            <key>plaza_vip/sp_label_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1012},{95,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,51}}</string>
                <key>sourceSize</key>
                <string>{95,51}</string>
            </dict>
            <key>plaza_vip/sp_label_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1378},{85,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,48}}</string>
                <key>sourceSize</key>
                <string>{85,48}</string>
            </dict>
            <key>plaza_vip/sp_loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{392,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{392,38}}</string>
                <key>sourceSize</key>
                <string>{414,54}</string>
            </dict>
            <key>plaza_vip/sp_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{410,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{410,50}}</string>
                <key>sourceSize</key>
                <string>{414,54}</string>
            </dict>
            <key>plaza_vip/sp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{454,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,163}}</string>
                <key>sourceSize</key>
                <string>{454,163}</string>
            </dict>
            <key>plaza_vip/sp_vip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1108,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1108,644}}</string>
                <key>sourceSize</key>
                <string>{1108,644}</string>
            </dict>
            <key>plaza_vip/sp_vip_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{1008,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1008,224}}</string>
                <key>sourceSize</key>
                <string>{1008,224}</string>
            </dict>
            <key>plaza_vip/vip_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1277},{219,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,345}}</string>
                <key>sourceSize</key>
                <string>{219,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plaza_vip.png</string>
            <key>size</key>
            <string>{874,1590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c361bed30a404a86636f26b09c4ce5bc$</string>
            <key>textureFileName</key>
            <string>plaza_vip.png</string>
        </dict>
    </dict>
</plist>
