<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qipao1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,704},{168,308}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,92},{168,308}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,542},{170,312}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,88},{170,312}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{172,312}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,84},{172,312}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,364},{176,314}}</string>
                <key>offset</key>
                <string>{-3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,80},{176,314}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,184},{178,324}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,76},{178,324}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{180,330}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,70},{180,330}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,714},{182,336}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,64},{182,336}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,344},{182,338}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,59},{182,338}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{184,340}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,52},{184,340}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,794},{184,344}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,46},{184,344}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{184,346}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,41},{184,346}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,354},{182,348}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{182,348}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{180,350}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,31},{180,350}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,360},{178,352}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{178,352}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,356}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{176,356}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,404},{174,388}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,12},{174,388}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{174,394}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,6},{174,394}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>qipao1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,400}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{176,400}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{1234,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:415123a4c72326d09b80706b9b68cb9e$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
