<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qipao2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,274},{190,222}}</string>
                <key>offset</key>
                <string>{-54,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,278},{190,222}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,276},{192,224}}</string>
                <key>offset</key>
                <string>{-52,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,276},{192,224}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{198,222}}</string>
                <key>offset</key>
                <string>{-49,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,272},{198,222}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,308},{202,230}}</string>
                <key>offset</key>
                <string>{-48,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,270},{202,230}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,258},{204,238}}</string>
                <key>offset</key>
                <string>{-47,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,262},{204,238}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,268},{206,240}}</string>
                <key>offset</key>
                <string>{-46,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,257},{206,240}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,266},{206,244}}</string>
                <key>offset</key>
                <string>{-45,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,251},{206,244}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,262},{206,248}}</string>
                <key>offset</key>
                <string>{-45,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,244},{206,248}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{206,254}}</string>
                <key>offset</key>
                <string>{-45,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,236},{206,254}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{206,258}}</string>
                <key>offset</key>
                <string>{-45,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,229},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{206,262}}</string>
                <key>offset</key>
                <string>{-45,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,222},{206,262}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{206,264}}</string>
                <key>offset</key>
                <string>{-46,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,217},{206,264}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{206,270}}</string>
                <key>offset</key>
                <string>{-46,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,211},{206,270}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{204,272}}</string>
                <key>offset</key>
                <string>{-46,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,208},{204,272}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,306},{204,296}}</string>
                <key>offset</key>
                <string>{-46,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,204},{204,296}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{204,302}}</string>
                <key>offset</key>
                <string>{-47,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,198},{204,302}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,304}}</string>
                <key>offset</key>
                <string>{-47,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,196},{202,304}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
            <key>qipao2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,308}}</string>
                <key>offset</key>
                <string>{-47,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,192},{202,308}}</string>
                <key>sourceSize</key>
                <string>{400,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{1974,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b35911bcf18c301920f9198a4f87aaaa$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
