<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daguaibaozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,230},{24,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,48},{24,31}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,594},{44,55}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,38},{44,55}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,353},{56,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,26},{56,73}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,74},{64,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,20},{64,83}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,159},{72,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,16},{72,91}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,252},{80,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,12},{80,99}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,577},{86,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,11},{86,103}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,485},{90,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,8},{90,109}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{98,113}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,5},{98,113}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,411},{102,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,2},{102,119}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,484},{108,125}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{108,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,367},{116,125}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{116,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{120,125}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,357},{126,125}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,240},{130,125}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{130,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,230},{132,125}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{132,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{134,125}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{134,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,113},{136,125}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{136,125}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,119}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{146,119}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{132,117}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,8},{132,117}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,123},{136,105}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,6},{136,105}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{140,109}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,4},{140,109}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{142,111}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,3},{142,111}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,103}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,2},{148,103}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,515},{92,105}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
            <key>daguaibaozha_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{70,67}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{222,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26508c2de67653d53dd718273cd40f91$</string>
            <key>textureFileName</key>
            <string>5.png</string>
        </dict>
    </dict>
</plist>
